@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}
/* Define transition properties */
.transition-all {
  transition-property: all;
}

/* Define transition duration and easing */
.duration-500 {
  transition-duration: 0.5s;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}
